.basinnChartWrapper {
	/*border: 2px solid rgb(224,214,204);*/
	border: 2px solid rgb(181,174,187);
	border-radius: 6px;
	height: 550px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}

.basinnChart {
	border-collapse: collapse;
	color: #794016;
	font-weight: bold;
	width: 100%;
}

.basinnChart thead {
	position: sticky;
	top: 0;
}

.basinnChart th {
	background: linear-gradient(#fff,#e4e0e9);
	text-align: left;
	width: 15%;
}

.basinnChart th:first-child {
	text-align: center;
	width: 40%;
}

.basinnChart .columnHeader {
	border-bottom: 2px solid rgb(181, 174, 187);
	margin-left: -18px;
	padding-right: 30px;
	width: 100%;
}

.basinnChart .columnHeader span {
	cursor: pointer;
	position: relative;
}

.basinnChartSortedAsc span::after, .basinnChartSortedDesc span::after {
	border-bottom: 2px solid #794016;
	border-right: 2px solid #794016;
	content: "";
	display: block;
	height: 4px;
	position: absolute;
	right: -10px;
	top: calc(50% - 2px);
	width: 4px;
}

.basinnChartSortedAsc span::after {
	transform: rotate(-135deg);
}

.basinnChartSortedDesc span::after {
	transform: rotate(45deg);
}

.basinnChart tr.selected {
	background: rgb(121, 216, 35);
}

.basinnChart td {
	padding-left: 4px;
}

.chartSkillName {
	align-items: center;
	display: flex;
	gap: 4px;
}

.chartSkillName > img {
	cursor: pointer;
	height: 1.5em;
}

.hintbtn {
	background: rgb(168, 227, 5);
	background: linear-gradient(rgb(168, 227, 5), rgb(97, 174, 22));
	border-radius: 6px;
	display: inline-block;
	height: 27px;
	outline: 2px solid rgb(85, 143, 24);
	position: relative;
	text-align: center;
	width: 32px;
}

.hintbtn::before, .hintbtn::after {
	border-top: 2px solid rgb(85, 143, 24);
	content: "";
	height: 20px;
	pointer-events: none;
	position: absolute;
	top: 1px;
	width: 20px;
}

.hintbtn::before {
	background: linear-gradient(34deg, rgb(118, 189, 17), rgb(168, 227, 5) 70%);
	border-top-right-radius: 4px;
	left: 0;
	transform: rotate(-34deg);
	transform-origin: top left;
}

.hintbtn::after {
	border-top-left-radius: 4px;
	left: 12px;
	transform: rotate(34deg);
	transform-origin: top right;
}

.hintbtnDummyBackground {
	background: linear-gradient(-34deg, rgb(156, 218, 8), rgb(168, 227, 5));
	height: 5px;
	pointer-events: none;
	position: absolute;
	right: 4px;
	top: -3px;
	transform: rotate(34deg);
	width: 12px;
}

.hintbtnText {
	color: white;
	font-size: 26px;
	font-weight: bold;
	position: relative;
	top: -10px;
}
