.skill {
	align-items: center;
	background: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 4px;
	color: var(--text-color);
	cursor: pointer;
	display: flex;
	height: 3em;
	margin: 1px;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.skill.selected {
	border: 2px solid var(--brand-color);
	margin: 0;
}

.skill.skill-gold {
	border-color: gold;
}

.skill.skill-pink {
	border-color: hotpink;
}

.skill.skill-unique {
	border-color: darkorchid;
}

.skillIcon {
	height: 100%;
	margin-right: 0.5em;
}

.skillName {
	font-size: 1.1em;
}

.skillDismiss {
	background: rgba(0,0,0,0.4);
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	right: 4px;
	text-align: center;
	top: 4px;
	width: 20px;
}

.expandedSkill {
	border: 1px solid var(--border-color);
	border-radius: 4px;
	cursor: pointer;
	grid-column: 1 / 3;
}

.expandedSkillHeader {
	align-items: center;
	display: flex;
	height: 3em;
	position: relative;
}

.skillDetails {
	background: var(--background-color-dark);
	padding: 0.5em;
}

.skillDetailsSection {
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

.skillConditions {
	display: flex;
	flex-wrap: wrap;
}

.condition {
	background: var(--background-color);
	border-radius: 4px;
	margin: 0.2em;
	padding: 0.2em 0.4em;
}

.conditionName {
	font-weight: bold;
}

.conditionOp {
	margin: 0 0.3em;
}

.conditionArg {
	color: var(--brand-color);
}

.operatorAnd::before {
	content: "and";
	margin: 0 0.3em;
}

.operatorOr {
	position: relative;
}

.operatorOr::before {
	content: "or";
	margin: 0 0.3em;
}

.filterGroups {
	background: var(--background-color-dark);
	padding: 0.5em;
}

.filterButton {
	background: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 4px;
	color: var(--text-color);
	cursor: pointer;
	margin: 0.2em;
	padding: 0.5em 1em;
}

.filterButton.active {
	background: var(--brand-color);
	color: var(--text-color-light);
}

.iconFilterButton {
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: 4px;
	cursor: pointer;
	height: 32px;
	margin: 0.2em;
	width: 32px;
}

.iconFilterButton.active {
	background-color: var(--brand-color);
}
