#sortProgress {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#buttonsRow {
	display: flex;
	gap: 10px;
}

#sortlistWrapper {
	position: relative;
}

#sortlist {
	display: flex;
	gap: 28px;
	list-style-type: none;
}

#sortlistBg {
	display: flex;
	gap: 28px;
	list-style-type: none;
	position: absolute;
	top: -2px;
	z-index: -1;
}

.tabslot {
	border: 2px solid rgb(170,221,154);
	border-radius: 6px;
	height: 280px;
	margin: 0 -2px;
	width: 250px;
}

.tabslot > img {
	background: white;
	border: 0 solid white;
	border-width: 0 3px 3px 0;
	left: -20px;
	position: relative;
	top: -20px;
}

.umatab {
	display: flex;
	flex-direction: column;
}

.umatab > span {
	color: #794016;
	font-weight: bold;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
}

.gu-mirror { opacity: 0.8; }
.gu-transit { opacity: 0.2; }
