#sorter {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 28px;
}

#groupHead {
	color: #794016;
	margin: 0;
}

#buttonsRow {
	display: flex;
	gap: 10px;
}

#sortlistWrapper {
	padding-bottom: 6px;
	position: relative;
}

#sortlist {
	display: flex;
	gap: 28px;
	list-style-type: none;
	margin: 0;
}

#sortlistIcons {
	display: flex;
	gap: 28px;
	list-style-type: none;
	margin: 0;
	position: absolute;
	top: -2px;
	z-index: 1;
}

#sortlistIcons > li {
	width: 250px;
}

#sortlistIcons img {
	background: white;
	border: 0 solid white;
	border-width: 0 3px 3px 0;
	left: -20px;
	position: relative;
	top: -20px;
}

.umatab {
	align-items: center;
	border: 2px solid transparent;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.umatab > span {
	color: #794016;
	font-weight: bold;
	-webkit-user-select: none;
	user-select: none;
}

.gu-mirror { border: none; opacity: 0.8; }
.gu-transit > * { opacity: 0.2; }

#results {
	display: grid;
	gap: 16px;
	grid-template-areas: ". a a b b ." ". a a c c .";
	grid-template-columns: repeat(6, 254px);
}

#results > li {
	position: relative;
}

#results > li:nth-child(1) { grid-area: a; }
#results > li:nth-child(2) { grid-area: b; }
#results > li:nth-child(3) { grid-area: c; }

#results > li:nth-child(n+4):nth-child(-n+18) {
	grid-column: span 2;
}

#results .orderImg {
	bottom: 16px;
	left: 16px;
	position: absolute;
}

#results > li:first-child > .orderImg {
	bottom: auto;
	left: auto;
	transform: translate(-150px, 90px);
}

#results > li:first-child > img:nth-child(2) {
	transform: translateX(50px);
}
